*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --fc-1: 20 20 20;
  --bc-1: 240 240 240;
  --bc-2: 250 250 250;
  --fs-header: clamp(1.6rem, 1.6vw, 2.5rem);
  --fs-sub-header: clamp(1rem, 1vw, 1.6rem);
  --fs-text: clamp(0.8rem, 0.8vw, 1rem);
  --color-1: 0 170 77;
  --svg-color: 0 0 0;
}

main {
  height: 100vh;
  min-height: 600px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  position: relative;
  color: rgb(var(--fc-1));
  font-size: var(--fs-header);
  letter-spacing: -0.05em;
  overflow: hidden;
  display: inline-block;
}

h2,
h3,
h4,
h5,
h6 {
  position: relative;
  color: rgb(var(--fc-1) / 0.75);
  font-size: var(--fs-sub-header);
  letter-spacing: -0.05em;
  overflow: hidden;
  display: inline-block;
}

p {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
p:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--fc-1));
  transform: translateX(-110%);
  animation: slide-block 0.5s ease 0.1s forwards;
  z-index: 2;
}

h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
p:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--bc-1));
  transform: translateX(0);
  animation: fade-block 0.5s ease 0.4s forwards;
  z-index: 1;
}

p,
a,
input,
button {
  color: rgb(var(--fc-1) / 0.75);
  font-size: var(--fs-text);
  letter-spacing: -0.05em;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: rgb(var(--fc-1) / 80%);
  color: rgb(var(--bc-1));
  padding: 0.6em 1.8em;
  font-weight: bold;
  transition: all 0.3s ease;
}

button:hover,
button:focus {
  background-color: rgb(var(--color-1));
}

svg {
  filter: drop-shadow(5px 5px 4px rgb(var(--fc-1) / 10%));
}

canvas {
  cursor: grab;
}

canvas:active {
  cursor: grabbing;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(var(--bc-2));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--fc-1));
}

@keyframes slide-block {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translate(110%);
  }
}

@keyframes fade-block {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(110%);
  }
}
