.container__page {
  height: auto;
  min-height: 600px;
  padding: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.container__page ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  aspect-ratio: 1 / 1;
  margin: 0.5em;
  padding: 2em;
  background: rgb(var(--bc-2) / 0.25);
  border: 1px solid rgb(var(--bc-2) / 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.tile__text {
  display: flex;
  flex-direction: column;
}

.tile__text > * {
  margin: 0.2em 0;
}

.tile__text h2 {
  border-bottom: 1px solid rgb(var(--fc-1) / 0.1);
}

@media screen and (min-width: 600px) {
  .container__page ul {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .tile {
    width: 30vw;
  }
}

@media screen and (min-width: 1300px) {
  .tile {
    width: 20vw;
  }
}
