.container__page {
  height: auto;
  min-height: 600px;
  padding: 5rem 6vw;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.container__page ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container__panel {
  width: 100%;
  padding: 2em;
}

.container__panel > * {
  padding: 0.2em 0;
}

.tile {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  margin: 0.5em;
  padding: 2em;
  background: rgb(var(--bc-2) / 0.25);
  border: 1px solid rgb(var(--bc-2) / 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.tile__head {
  flex: 0 1 auto;
  padding: 0.2em 0;
}

.tile__head > * {
  padding: 0.2em 0;
}

.tile__head h2 {
  border-bottom: 1px solid rgb(var(--fc-1) / 0.1);
}

.priority {
  color: rgb(var(--color-1));
}

.tile__body {
  flex: 1 1 auto;
  padding: 0.2em 0;
}

.tile__body > * {
  padding: 0.2em 0;
}

.tile__body h2 {
  border-bottom: 1px solid rgb(var(--fc-1) / 0.1);
}

.tile__body input {
  width: 100%;
  padding: 0.5em 0;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(var(--fc-1));
}

.tile__body input:focus-visible,
.tile__body input:focus {
  border: none;
  border-bottom: 2px solid rgb(var(--color-1));
}

.tile__foot {
  flex: 0 1 auto;
  padding: 0.2em 0;
}

.tile__foot > * {
  padding: 0.4em 0;
}

.foot__priority {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container__priority {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.container__priority_checkbox {
  width: 1em;
  margin-right: 0.5em;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgb(var(--fc-1));
}

@media screen and (min-width: 900px) {
  .tile {
    width: 30vw;
  }
}

@media screen and (min-width: 1300px) {
  .tile {
    width: 20vw;
  }
}
