.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container > div {
  padding: 0.8em 0;
}

.container__head {
  flex: 0 1 auto;
}

.container__head > * {
  padding: 0.2em 0;
}

.container__body {
  flex: 1 1 auto;
}

.container__body > * {
  padding: 0.2em 0;
}

.container__input input {
  width: 100%;
  padding: 0.5em 0;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(var(--fc-1));
}

.container__input input:focus-visible,
.container__input input:focus {
  border: none;
  border-bottom: 2px solid rgb(var(--color-1));
}

.container__foot {
  flex: 0 1 auto;
}
